<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Archivo principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>

  {{{ body }}}


  <footer class="footer text-center container">
      <div class="row">
          <div class="col-4">
          <h2>Api prestamos</h2>
      </div>
      <div class="col-4">
          <ul>
              <li>Inicio</li>
              <li>Productos</li>
              <li>Prestamos</li>
              <li>Mi cuenta</li>
          </ul>
      </div>
      <div class="col-4">
          todos los derechos reservados
      </div>
      </div>
  </footer>
</body>
</html>